<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>reboot11 schedule</title>
	
</head>

<body>
    <h1>reboot 11 recent activity</h1>
    
    <ul>
    {% for entry in entries %}
        <li>{{ entry.title }} :: {{ entry.author }} :: <a href="{{ entry.link }}">{{ entry.published }}</a></li>
    {% endfor %}
</body>
</html>
